IndentWidth: 4
NamespaceIndentation: All
ColumnLimit: 120
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
Cpp11BracedListStyle: false
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: None