AllowShortIfStatementsOnASingleLine:		true
AlwaysBreakTemplateDeclarations:			Yes
ColumnLimit:								120
Cpp11BracedListStyle:						false
IndentWidth:								4
NamespaceIndentation:						None
PointerAlignment:							Left