[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/ncvetan/glfw
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/ncvetan/glm
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/ncvetan/stb
[submodule "deps/glew-cmake"]
	path = deps/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = git@github.com:ocornut/imgui.git
